{% extends 'learning_logs/base.html' %}

{% block header %}
    <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
    <!--<p>Topic: {{ topic }}</p>-->
    <!--<p>Entries</p>-->
    <h4>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">添加新条目</a>
    </h4>

    {% for entry in entries %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{ entry.date_added|date:'Y-m-d, H:i:s' }}
                <small>
                    <a href="{% url 'learning_logs:edit_entry' entry.id %}">编辑条目</a>
                </small>
            </h4>
        </div>
         <div class="panel-body">
             <p>
                 {{ entry.text|linebreaks }}
             </p>
        </div>
    </div>
    {% empty %}
    <li>
        There are no entries for this topic yet.
    </li>
    {% endfor %}

{% endblock content %}
