{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>登录</h2>
{% endblock header %}
{% block content %}
    <!--{% if form.errors %}-->
    <!--<p>用户名和密码不匹配，请重新输入</p>-->
    <!--{% endif %}-->

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">登录</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:topics' %}" />
    </form>

{% endblock content %}